@import "tailwindcss";

body {
  background: #36393e;
  color: #36393e;
  font-family: Arial, Helvetica, sans-serif;
}

discord-quote discord-code {
  background-color: rgba(79, 84, 92, 0.4);
  border-radius: 3px;
  padding: 0 2px;
  font-size: 0.875em;
}

body {
  zoom: 1.5;
}
